@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: #0b1020;
  color: #e7e9ee;
}

* { box-sizing: border-box; }
